body {
    font-family: 'Outfit', sans-serif !important;
    font-size: 16px;
    font-weight: 500;
    overflow-x: hidden !important;
  
  }

@media (min-width: 1200px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
      max-width: 1250px !important;
    }
  }
.navbar-brand{
  margin-right: 20% !important;
}
  .heading-text{
    font-size: 48px;
    font-weight: 700;
    color: #196046;
    text-transform: uppercase;
    line-height: 1em;

  }
  .sub-heading{
    color: #FFCB19;
    font-size: 16px;
    font-weight: 600;
  }
  .sub-para{
    color: #A2A2A2;
    font-size: 16px;
  }
  .sub-heading-1{
    color: #196046;
    font-size: 24px;
    font-weight: 900;
    line-height: 1em;
  }
  .progress-bar{
    background-color: #196046 !important;
  }
  .progress-bar-text{
    color: #196046;
    font-weight: 700;
    font-size: 16px;
    margin-top: 1em;

  }
  .header-icon{
    color: #FFCB19;
  }
  a{
    text-decoration: none  !important;
  }
  a:hover {
    color: #FFCB19 !important;
  }
  .btn-style{
    padding: 18px 30px;
    background-color: #196046;
    color: #fff;
    
  }
  .btn-style-white{
    padding: 18px 30px;
    color: #fff;
    background-color: #19604600;
    border: 1px solid #fff;
  
  }
  .navbtn{
    padding: 8px 40px;
    color: #fff;
    background-color: #FFCB19;
  }
  
  header{
    position: relative;

  }
/* background image */

.bg-image{
    background-image:linear-gradient(70deg, #101010 0%, #18181861 100%), url("../images/bg-.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    width: auto;
    height: 90vh;
}
  /* heading style  */

.text-highlight{
  color: #e5e5e5;
  font-size: 2.26rem;
  text-transform: uppercase;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; 
    }

  .animation {
    height:50px;
    overflow:hidden;
    margin-left: 1rem;
  }
  
  .animation > first > second {
    padding: 0.25rem 0.75rem;
    height:2.81rem;
    margin-bottom: 2.81rem;
    display:inline-block;
  }
  
  .animation div:first-child {
    animation: text-animation 6s infinite;
  }
  
  .first div {
    background-color:#20a7d8;
  }
  .second div {
    background-color:#CD921E;
  }
  .third div {
    background-color:#c10528;
  }
  
  @keyframes text-animation {
    0% {margin-top: 0;}
    10% {margin-top: 0;}
    20% {margin-top: -3.62rem;}
    30% {margin-top: -3.62rem;}
    40% {margin-top: -11.24rem;}
    60% {margin-top: -11.24rem;}
    70% {margin-top: -3.62rem;}
    80% {margin-top: -3.62rem;}
    90% {margin-top: 0;}
    100% {margin-top: 0;}
  }
/* end of heading h1 style */


  .bg-color{
    background: rgba(255, 255, 255, 0.16);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.6px);
  }

  .banner-text{
    margin-top: 15%;
    background: rgba(255, 255, 255, 0.16);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.6px);
  }
  .banner-icon-bg{
    background-color: #fff;
    width: 85%;
    height: 100%;
  }
  .banner-icon{
    font-size: 4rem  !important;
    color: #FFCB19;
    padding: 2rem;
  }


  /* about us  */
  #aboutus{
    margin-bottom: 5rem;
  }
  .about-heading{
    font-size: 60px;
    font-weight: 700;
  }
  .about-icon-div{
    
    display: flex;
    flex-wrap: wrap;
    padding: inherit;
  }
  @media (max-width: 900px) {
    .about-icon-div{
      justify-content: center;
    }
  }



  .about-icon{
    width: 25%;
    /* height: 10%; */
  
  }
  .aboutIcon{
    color: #FFCB19;
    font-size: 4rem !important;
    padding: 0.5rem;
  }
  .aboutIcon-text{
    color: #196046;
    font-size: 54px;
    margin: 0;
    font-weight: 800;
  }
  .aboutIcon-text-sub{
    font-size: 18px;
    color: #A2A2A2;
  }

.aboutImage{
  width: 70%;
  margin-top: 10rem;
}
@media (max-width: 900px) {
  .aboutImage{
    width: 100%;
    margin-top: 0;
  }
}

/* grid */
#girdsection{
 
  margin: 6rem 0rem ;
}

.grid-div{
  /* width: 15rem !important; */
  /* height: 10rem; */
  background-color: aquamarine;
}

.content {
  position: relative;
  margin: auto;
  overflow: hidden;
}
@media (min-width: 390px) {
  .content{
    margin-bottom: 1rem;
  }
}

.content-img-container{
  width: 100%;
  position: relative;
}

.content .content-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay{
  opacity: 1;
}

.content-image{
  width: 100%;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3{
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.content-details p{
  color: #fff;
  font-size: 0.8em;
}

.fadeIn-bottom{
  top: 80%;
}

#reviewSection{
  background-image:linear-gradient(70deg, #101010 0%, #18181861 100%), url("../images/bg-carousel.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  margin: 5rem 0rem;
  height: 30rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-text{
  width: 60% !important;
  margin: 0 auto !important;
  text-align: center;
  /* height: 11rem; */
  color: #ffff;
  line-height: 1 !important;
}
.review-name{
  color: #FFCB19;
  font-weight: 800;
  font-size: 1.5rem;
}
.qoute-icon{
  font-size: 5rem;
  color: #FFCB19;
}

#whychooseus{
  margin: 5rem 0;
}


.icon_{
  width: 5rem;
}


/* pricing */

#pricing{
  margin: 3rem 0;
}
.pricing-text{
  margin: auto !important;
}
.fa-check{
  color: #FFCB19;
}


.title {
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1px;
}

.card-1, .card-2  {
  /* background: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .5)), url(https:/../images.pexels.com/photos/589840/pexels-photo-589840.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) center no-repeat /cover; */
  box-shadow: 7px 18px 50px rgb(153, 152, 152);
  /* max-width: 500px; */
  width: 18rem;
}

.card-1, .card-2 {
/* font-family: 'Raleway', sans-serif; */
letter-spacing: 2px;
}

.price {
/* font-family: 'Josefin Sans', sans-serif; */
font-size: 60px;
color: #196046;
font-weight: 600;
}

.card-list-item {
  border-bottom: 1px groove #eee;
  width: 55%;
  margin: auto;
}
.carousel-logo-section{
  margin: 2rem 0;
}
.carousel-logo{
  width: 10rem !important;
  padding: 1rem;
}

#bookNow{
  margin: 3rem 0;
  background-image:linear-gradient(70deg, #101010 0%, #18181861 100%), url("../images/bg-2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  
}

.spacing{
  margin-bottom: 2rem;
}
.Glassmorphism-1{
  background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(7px);
padding: 2rem;
margin: 15% auto !important;
margin-top: 10%;
}

/* footer */
.site-footer
{
  background-image:linear-gradient(70deg, #101010 0%, #18181861 100%), url("../images/bg-3.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#ffff;
}
.footerglass{
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  padding: 1em;
}
.footer-heading{
  color: #FFCB19 !important;
  font-weight: 700;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#fff;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#fff
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}
.footer-icon{
  margin-top: 25%;
}